<!DOCTYPE html>
<html>
  <div class="container-fluid about-me-header">
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-11">
        <h1>About Me</h1>
      </div>
    </div>
  </div>  
  <div class="container-fluid about-me-body"> 
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-11">
        I hail from the land of 10,000 lakes and food on a stick.
        <br><br>
        Computers have always been a part of my life. My elementary school was
        one of the few to have an actual computer lab. I still remember playing
        games like Oregon Trail and Odell Lake in school. From there, the age of 
        the internet continued to fuel my interest. Throughout middle school and 
        high school I would create websites for my friends using Geocities.
        <br><br>
        I decided to explore other interests while in college. Which led me to 
        study economics and statistics. After college, I hopped around some
        of the major Minnesotan companies until I decided I needed a change and
        moved to New York City. I landed a job working for a medical software 
        company called Medidata Solutions. I spent 4.5 years working in Sales 
        Operations pricing their products. Seeing how their software made a 
        meaningful impact on society rekindled my interest in computers and 
        furthered it into software development.
        <br><br>
        I am a graduate student at Seattle University pursuing a 
        Graduate Certificate in Computer Science. My hopes are to continue into 
        Seattle University's master's program in Computer Science.
        <br><br>
        My other interests include playing and watching hockey, listening to music
        and playing the guitar, minimalism, sustainability, and learning about the
        universe.
        <br><br>
        </div>
      </div>
    </div>
    
    
    
  </div>
</html>