<!DOCTYPE html>
<html>
<div class="container-fluid experience-body">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="well well-callout">
      <div class="row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-11">
          <h1>Experience</h1>
          <h3>Education</h3>
          <ul>
            <li><b>Seattle University</b> - Masters in Computer Science (expected 2020)</li>
            <li><b>Seattle University</b> - Graduate Certificate in Computer Science 
            2018</li>
            <li><b>University of Minnesota</b> - Bachelors in Economics, Minor in 
            Statistics 2010</li>
          </ul>
          <h3>Languages</h3>
          <ul>
            <li>Proficient: C#, C++, CSS, HTML, Java</li>
            <li>Working Knowledge: Javascript, Python, R, Ruby, SQL</li>
          </ul>
          <h3>Skills</h3>
         <ul>
            <li>Salesforce.com, Netsuite</li>
            <li>Project Management</li>
            <li>Sales Operations</li>
            <li>Internal & External Training</li>
            <li>Software Contracts & Pricing</li>
            <li>Pricing Negotiations</li>
            <li>International Business</li>
            <li>RFP/RFIs</li>
            <li>Conflict Resolution</li>
            <li>Software Quality Assurance</li>
            <li>User Testing</li>
            <li>Agile</li>
            <li>.NET</li>
            <li><%= link_to "GitHub", "https://github.com/lkorsman", target: :_blank %></li>
          </ul>
          <h3>Positions</h3>
          <ul>
            <li><b>Computer Science Grader & Tutor</b> - Seattle University 2018-present</li>
            <li><b>Senior Proposals & Contracts Developer</b> - Medidata Solutions 2016-2017</li>
            <li><b>Proposals & Contracts Developer</b> - Medidata Solutions 2013-2015</li>
            <li><b>Lease Analyst</b> - Best Buy 2012</li>
            <li><b>Fraud Analyst</b> - Target 2011-2012</li>
          </ul>
          <h3>Links</h3>
          <ul>
            <li><i class="fa fa-github"></i><%= link_to " GitHub", "https://github.com/lkorsman", target: :_blank %></li>
            <li><i class="fa fa-linkedin-square"></i><%= link_to " LinkedIn", "https://www.linkedin.com/in/luke-korsman", target: :_blank %></li>
          </ul>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
</html>