<!DOCTYPE html>
<html>
  <div class="container experience-callout .col-md-6 .col-md-offset-3">
    <h1>Experience</h1>
    <h3>Education</h3>
    <ul>
      <li><b>Seattle University</b> - Graduate Certificate in Computer Science 
      2018</li>
      <li><b>University of Minnesota</b> - Bachelors in Economics, Minor in 
      Statistics 2010</li>
    </ul>
    <h3>Languages</h3>
    <ul>
      <li>Proficient: C++, Java</li>
      <li>Working Knowledge: CSS, HTML, Python, R, Ruby, SQL</li>
    </ul>
    <h3>Skills</h3>
   <ul>
      <li><%= link_to "GitHub", "https://github.com/lkorsman", target: :_blank %></li>
      <li>Software Quality Assurance</li>
      <li>Salesforce.com</li>
      <li>Project Management</li>
      <li>Internal Training</li>
      <li>Software Pricing</li>
      <li>Pricing Negotiations</li>
    </ul>
    <h3>Positions</h3>
    <ul>
      <li><b>Senior Proposals & Contracts Developer</b> Medidata Solutions 2016-2017</li>
      <li><b>Proposals & Contracts Developer</b> Medidata Solutions 2013-2015</li>
      <li><b>Lease Analyst</b> Best Buy 2012</li>
      <li><b>Fraud Analyst</b> Target 2011-2012</li>
    </ul>
    <h3>Links</h3>
    <ul>
      <li><i class="fa fa-github"></i><%= link_to " GitHub", "https://github.com/lkorsman", target: :_blank %></li>
      <li><i class="fa fa-linkedin-square"></i><%= link_to " LinkedIn", "https://www.linkedin.com/in/luke-korsman", target: :_blank %></li>
    </ul>
  </div>
</html>