<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
  </head>
  <div class="home-callout text-center container-fluid">
    <%= image_tag("LukeWebsite.png", class: "img-circular", :size => "311x311") %>
    <div class="home-my-name">
      Luke Korsman
    </div>
  </div>
</html>

