<!DOCTYPE html>
<html>
  <div class="home-callout text-center container-fluid">
    <h1>Welcome to Luke Korsman's Personal Website</h1>
    <h4>Graduate Student in Computer Science | Minnesota Native | Living in Seattle</h4>
  </div>
  <div class="home-image">
    <%= image_tag("beautiful-2297208_1920", :size => "1440x900") %>
  </div>
</html>

